annotated-types==0.6.0
asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
Django==4.2.11
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap4==24.1
django-crispy-forms==1.13.0
django-humanize==0.1.2
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
humanize==4.9.0
psycopg2-binary==2.9.9
pydantic==2.6.4
pydantic-core==2.16.3
python-dateutil==2.9.0.post0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing-extensions==4.10.0
whitenoise==6.6.0
